{% load static %}
<!DOCTYPE html>
<html lang="en" ng-app="nocommentApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <script src="{% static "/js/angular.js" %}"></script>
    <title>No Comments</title>

    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="{% static "/css/blog.css" %}" rel="stylesheet">

  </head>

  <body>

    <div class="container">

      <div class="blog-header">
        <h1 class="blog-title">No Comments</h1>
        <p class="lead blog-description">A modest comment project with high hopes.</p>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <img src="http://i.dailymail.co.uk/i/pix/2013/05/27/article-0-19E094F4000005DC-76_634x402.jpg" class="responsive">
            <h2 class="blog-post-title">"Que mal fiz eu a Deus?" Jorge Jesus</h2>
            <p class="blog-post-meta">1 de Fevereiro de 2017</p>

            <p>This blog post shows a few different types of content that's supported and styled with Bootstrap. Basic typography, images, and code are all supported.</p>
            <hr>
            <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
            <blockquote>
              <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            </blockquote>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
            <h2>Heading</h2>
            <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
            <hr>

            <div class="row" ng-controller="nocommentController as comments" ng-cloak>
                <div class="col-sm-12">
                  <p>Deixe um comentário</p>
                </div>
                <form ng-submit="comments.addComment();">
                  {% csrf_token %}
                  <div class="form-group col-sm-12">
                    <textarea type="text"
                            placeholder="Escreva um comentário..."
                            class="form-control"
                            ng-model="comments.comment">
                    </textarea>
                  </div>
                  <div class="form-group form-inline col-sm-12">
                    <input
                        type="text"
                        placeholder="Nome"
                        name="name"
                        required=""
                        class="form-control"
                        ng-model="comments.name">
                    <input
                        type="email"
                        class="form-control"
                        placeholder="Email"
                        name="email"
                        required=""
                        ng-model="comments.email">
                    <button type="submit" class="btn btn-info pull-right">
                      Enviar comentário
                    </button>
                  </div>
                </form>

                <div class="col-sm-12">

                <h3>Comentários</h3>
                <div class="row" ng-repeat="comment in comments.list">
                  <div class="col-sm-1">
                    <div class="thumbnail">
                      <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                    </div><!-- /thumbnail -->
                  </div><!-- /col-sm-1 -->

                  <div class="col-sm-10">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <strong>{$ comment.name $}</strong>
                        <time class="timeago text-muted" datetime="{$ comment.created $}"></time>
                        <span
                            class="text-danger"
                            ng-show="{$ !comment.visible $}"><small>Aguardar Aprovação</small></span>
                      </div>
                      <div class="panel-body">
                        {$ comment.comment $}
                      </div><!-- /.panel-body -->
                    </div><!-- /.panel panel-default -->
                  </div><!-- /.col-sm-10 -->
                </div><!-- /.row -->
              </div><!-- /.col-sm-12 -->
            </div><!-- end of cotroller div -->
          </div><!-- /.blog-post -->
        </div><!-- /.blog-main -->
      </div><!-- /.row -->
    </div><!-- /.container -->

    <footer class="blog-footer">
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Angular App loaders  -->
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/js/nocomment.app.js' %}"></script>
    <script src="{% static '/js/nocomment.controller.js' %}"></script>
    <script src="{% static '/js/nocomment.service.js' %}"></script>

    <script src="{% static '/js/timeago.js' %}"></script>
    <script>
      $(document).ready(function() {
        setTimeout(timeAgo, 100);
      });
    </script>
  </body>
</html>
